@font-face {
    font-family: 'Ave';
    src: url('../../assets/fonts/AvenirNext-Regular.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sec';
    src: url('../../assets/fonts/GTSectra-Medium.woff2') format('woff2'),
        url('../../assets/fonts/GTSectra-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
